<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mini whatsapp</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>

    <form action="/chats/new" method="get">
        <button class="ttp">add new</button>
    </form>
    <br>

    <h2>All message of users!</h2>
    <% for(chat of chats){%>
        <div class="chat">
            <p>from:<%=chat.from%>
            </p>
            <p>to:<%=chat.to%>
            </p>
            <div class="msg">
                <p>Message:<%=chat.msg%>
                </p>
                <form action="/chats/<%=chat._id%>/edit" method="get">
                    <button class="ddd">edit</button>
                </form>
                <br>
                <form class="delete-form" action="/chats/<%=chat._id%>?_method=DELETE" method="post">
                    <button class="ddd">delete</button>
                </form>
            </div>
            <hr>
            <p>
                <%=chat.created_at.toString().split(" ")[4]%></p>
       <p><%=chat.created_at.toString().split(" ").slice(0,4).join(" - ")%></p>
   </div>
   <%}%>
   <script src="/main.js"></script>

</body>
</html>